@font-face {
    font-family: ProximaNova-Light;
    src: url("../font/ProximaNova-Light.otf");
}

body {
    font-family: ProximaNova-Light, serif !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body #buttons-view {
    text-align: center;
}

body #buttons-edit {
    text-align: center;
}

body #buttons-edit .form-control {
    display: inline-block;
    width: 176px;
}

.edit-text {
    text-align: center;
}

.play {
    width: 70px;
    margin-bottom: 5px;
    margin-right: 5px;

}

.view {
    width: 185px;
    margin-bottom: 5px;
    margin-right: 5px;

}

.edit-view {
    width: 350px;
    margin-bottom: 5px;
    margin-right: 5px;
    display: inline-block;

}

.dropdown {
   position: relative;
}
/*
.btn-primary {
    background-color: mediumvioletred;
}*/
body #createButton {
    width: 300px;
    justify-content: center;
}

body .jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom: 0px;
}

body .jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

body .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-left: 1px;
    border-right: 1px;
}

#fineprint {
    font-size: 90%;
}

#login label {
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
}

#logo {
    max-height: 300px;
    max-width: 250px;
}

.navbar-brand {
    vertical-align: middle;
    padding-top: 8px;
}

.navbar .nav .divider-vertical {
    width: 1px;
    background-color: darkblue;
}

.navbar-static-top {
    margin-bottom: 8px;
}

div#buttons-view {
    column-width: 180px;
}

.form-signin {
    max-width: 250px;
    margin: 0 auto;
}

.form-create {
    max-width: 400px;
    margin: 0 auto;
}

.btn.active {
    display: none;
}

.btn span:nth-of-type(1) {
    display: none;
}

.btn span:last-child {
    display: block;
}

.btn.active span:nth-of-type(1) {
    display: block;
}

.btn.active span:last-child {
    display: none;
}

.fast .toggle-group {
    transition: left 0.1s;
    -webkit-transition: left 0.1s;
}

.dropdown-menu>li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

